<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    
    <!-- TV Feature -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".OXOApplication"
        android:allowBackup="true"
        android:banner="@drawable/app_banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OXOPlayer"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Intro Video Activity (Launcher) -->
        <activity
            android:name=".ui.intro.IntroActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OXOPlayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Welcome Page Activity -->
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OXOPlayer" />

        <!-- Activation Activity -->
        <activity
            android:name=".ui.activation.ActivationActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OXOPlayer" />

        <!-- Profile Selection Activity -->
        <activity
            android:name=".ui.profile.ProfileSelectionActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OXOPlayer" />

        <!-- Home Activity with Menu -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OXOPlayer" />

        
        <!-- Live TV Activity -->
        <activity
            android:name=".ui.livetv.LiveTVActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OXOPlayer" />
        
        <!-- Movies Activity -->
        <activity
            android:name=".ui.movies.MoviesActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OXOPlayer" />
        
        <!-- Movie Detail Activity -->
        <activity
            android:name=".ui.movies.MovieDetailActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OXOPlayer" />
        
        <!-- Series Activity -->
        <activity
            android:name=".ui.series.SeriesActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OXOPlayer" />
        
        <!-- Series Detail Activity (Seasons/Episodes) -->
        <activity
            android:name=".ui.series.SeriesDetailActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OXOPlayer" />

        <!-- Video Player Activity -->
        <activity
            android:name=".ui.player.PlayerActivity"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OXOPlayer.Player" />

        <!-- Details Activity (for Movies/Series) -->
        <activity
            android:name=".ui.details.DetailsActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OXOPlayer" />

        <!-- Settings Activity -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OXOPlayer" />

        <!-- Update Activity -->
        <activity
            android:name=".ui.update.UpdateActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OXOPlayer" />

        <!-- FileProvider for APK installation -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>

